{% extends "layout.html" %}

{% block content %}

<hr>
    
<div class ="Contenido wrapper">
    

    
    <b><h1 align="justify">Sitio web desarrollado para la adquisición de datos de una estación hidrométrica basada en tecnología LiDAR </h1></b>
    
    <p align="justify">Esta interfaz gráfica es la encargada del sistema de control para los parámetros de medición ubicado en el laboratorio de hidráulica en la Universidad de Ibagué  
        Los datos obtenidos seran enviados al correo electrónico con la respectiva gráfica de la toma de datos junto con los parámetros estadísticos.
        Debe tener en cuenta que los parámetros requeridos son obligatorios para poder realizar las pruebas.
        
    </p>
    
</div>
<hr>


{% endblock content %}